{% extends 'home/base.html' %}
{% load static %}


{% block title %}Disclaimer{% endblock title %}


{% block content %}
<div>
    <img src="{% static 'img/idea generate.jpg' %}" alt="" height="430px" width="1349px">
</div>
<div class="container">

    <h2 class="mt-5">Disclaimer for <strong>DSMLSCHOOL</strong>:</h2>
    <hr>

    <p>The information provided on <strong>DSMLSCHOOL</strong> is for general informational purposes only. The content presented on this website is designed to offer educational material related to Data Science and Machine Learning concepts.</p>

    <p>While we strive to ensure the accuracy and relevance of the information, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability of the information, products, services, or related graphics presented on <strong>DSMLSCHOOL</strong>. Any reliance you place on such information is strictly at your own risk.</p>

    <p><strong>DSMLSCHOOL</strong> will not be liable for any errors or omissions in the content or for any losses or damages arising from the use of the information presented on this website. It is essential to conduct further research and consult other reliable sources before making any significant decisions or taking action based on the information provided on <strong>DSMLSCHOOL</strong>.</p>

    <p>The tutorials, articles, and examples on <strong>DSMLSCHOOL</strong> may not cover the entire spectrum of topics within Data Science and Machine Learning. The field is continuously evolving, and new developments may not be immediately reflected on this website.</p>

    <p>Furthermore, <strong>DSMLSCHOOL</strong> may contain links to external websites or resources, which are provided solely for the convenience and enrichment of our users. We do not have control over the nature, content, and availability of these external sites. The inclusion of any links does not necessarily imply a recommendation or endorsement of the views expressed within them.</p>

    <p><strong>DSMLSCHOOL</strong> does not provide any guarantees or warranties for the suitability or fitness of the content for any particular purpose. Users are advised to use their judgment and discretion while applying the knowledge gained from this website.</p>

    <p>By using <strong>DSMLSCHOOL</strong>, you agree to indemnify and hold harmless the website owner, contributors, authors, and all related parties from any claims, damages, liabilities, or expenses arising out of your usage of this website.</p>

    <p>We reserve the right to modify, update, or discontinue any part of <strong>DSMLSCHOOL</strong> without prior notice.</p>

    <p>Always remember that the field of Data Science and Machine Learning requires continuous learning, and <strong>DSMLSCHOOL</strong> is just one of the many resources available to aid in your journey. Keep exploring, experimenting, and growing your knowledge in this exciting domain.</p>

    <p>Last updated: Aug 2023</p>

    <p>If you have any concerns or questions regarding this disclaimer, please contact us at [Contact Email].</p>
</div>

{% endblock %}