{% extends 'home/base.html' %}
{% load static %}


{% block title %}Home{% endblock title %}


{% block content %}


{% comment %} banner section start here  {% endcomment %}

{% comment %} <div>
    <img src="{% static 'img/idea generate.jpg' %}" alt="" height="430px" width="1349px">
</div>  {% endcomment %}

{% comment %} banner section end here  {% endcomment %}

<div class="container">
    
    {% comment %} section 1 start here {% endcomment %}
    <section id="python">
        <div class="row bg-light" style="height: 400px;">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="text-dark">
                        <h1>Python</h1>
                        <p>Learn Python complete in easy way</p>
                        <a class="btn btn-primary" href="/python" role="button">Explore</a>
                    </div>
                </div>


                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="d-none d-md-block">
                        <img src="{% static 'img/Python-logo-notext.svg.png' %}" alt="" height="200px" width="200px">
                    </div>
                </div>
        </div>
    </section>
    {% comment %} section 1 end here {% endcomment %}


    {% comment %} section 1 start here {% endcomment %}
    <section id="numpy">
        <div class="row bg-dark" style="height: 400px;">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="text-light">
                        <h1>NumPy</h1>
                        <p>Learn NumPy complete in easy way</p>
                        <a class="btn btn-primary" href="/numpy/" role="button">Explore</a>
                    </div>
                </div>


                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="d-none d-md-block">
                        <img src="{% static 'img/Numpy logo.png' %}" alt="" height="200px" width="300px">
                    </div>
                </div>
        </div>
    </section>
    {% comment %} section 1 end here {% endcomment %}
    
    
    {% comment %} section 3 start here {% endcomment %}
    <section id="pandas">
        <div class="row bg-light" style="height: 400px;">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="text-dark">
                        <h1>Pandas</h1>
                        <p>Learn Pandas complete in easy way</p>
                        <a class="btn btn-primary" href="/pandas/" role="button">Explore</a>
                    </div>
                </div>


                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="d-none d-md-block">
                        <img src="{% static 'img/Pandas_logo.svg.png' %}" alt="" height="200px" width="300px">
                    </div>
                </div>
        </div>
    </section>
    {% comment %} section 3 end here {% endcomment %}
    

    
    {% comment %} section 3 start here {% endcomment %}
    <section id="matplotlib">
        <div class="row bg-dark" style="height: 400px;">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="text-white">
                        <h1>MatPlotLib</h1>
                        <p>Learn matplotlib complete in easy way</p>
                        <a class="btn btn-primary" href="/matplot/" role="button">Explore</a>
                    </div>
                </div>


                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="d-none d-md-block">
                        <img src="{% static 'img/matplot_logo.png' %}" alt="" height="200px" width="300px">
                    </div>
                </div>
        </div>
    </section>
    {% comment %} section 3 end here {% endcomment %}




</div>

{% endblock content %}