{% extends 'home/base.html' %}
{% load static %}


{% block title %}Privacy Policy{% endblock title %}


{% block content %}

<div>
    <img src="{% static 'img/idea generate.jpg' %}" alt="" height="430px" width="1349px">
</div>

<div class="container my-5">
    <h2>Privacy Policy for <strong>DSMLSCHOOL</strong>:</h2>
    <hr>

    <p>At <strong>DSMLSCHOOL</strong>, we value the privacy of our visitors. This Privacy Policy outlines how we collect, use, and safeguard your personal information when you interact with our website.</p>

    <h4>Information Collection and Use:</h4>
    <p>We may collect personal information, such as your name and email address, when you voluntarily provide it through forms, subscriptions, or other means of interaction on <strong>DSMLSCHOOL</strong>. This information will be used solely for the purpose of communication and providing you with relevant content related to Data Science and Machine Learning.</p>

    <h4>Log Data:</h4>
    <p>Like many other websites, we collect information that your browser sends whenever you visit <strong>DSMLSCHOOL</strong>. This Log Data may include details such as your computer's Internet Protocol (IP) address, browser type, browser version, the pages of our website that you visit, the time and date of your visit, the time spent on those pages, and other statistics. This data is used to analyze trends, administer the site, track user movements, and gather demographic information to improve our services.</p>

    <h4>Cookies:</h4>
    <p><strong>DSMLSCHOOL</strong> may use cookies or similar technologies to enhance your experience on our website. Cookies are small text files placed on your device that uniquely identify your browser. You can control the use of cookies through your browser settings, but please note that some features of <strong>DSMLSCHOOL</strong> may not function properly if cookies are disabled.</p>

    <h4>Third-Party Services:</h4>
    <p>We may use third-party services, such as analytics tools and advertising partners, to analyze and optimize our website's performance. These third-party services may collect information about your use of <strong>DSMLSCHOOL</strong>, which is governed by their respective privacy policies.</p>

    <h4>Security:</h4>
    <p>We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, please be aware that no method of transmission over the internet or electronic storage is entirely secure. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>

    <h4>Links to External Sites:</h4>
    <p><strong>DSMLSCHOOL</strong> may contain links to external websites for reference or additional resources. We are not responsible for the content or privacy practices of these external sites. We encourage you to review the privacy policies of any websites you visit from <strong>DSMLSCHOOL</strong>.</p>

    <h4>Children's Privacy:</h4>
    <p><strong>DSMLSCHOOL</strong> is not directed to children under the age of 13. We do not knowingly collect personal information from children. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us, and we will take appropriate steps to remove that information from our records.</p>

    <h4>Changes to this Privacy Policy:</h4>
    <p>We reserve the right to update or modify this Privacy Policy at any time. The most recent version of the Privacy Policy will be posted on this page with the "Last Updated" date.</p>

    <p>By using <strong>DSMLSCHOOL</strong>, you consent to the terms of this Privacy Policy.</p>

    <p>If you have any questions or concerns regarding this Privacy Policy, please contact us at [Contact Email].</p>

    <p>Last Updated: Aug 2023</p>
</div>
{% endblock %}