.banner {
    background-color: #1b1919;
}

.right-img img{
    width: 100%;
    object-fit: contain;
}

.ban-content {
    height: 90%;
    display: flex;
    align-items: center;
    color: #ffffff;
}

h2.title span {
    color: #bd4f01;
}

h2.title {
    font-size: 90px;
    line-height: 84px;
}

p.sm-title {
    font-size: 28px;
}

p.sm-title span {
    color: #ff6b3d;
}


@media screen and (max-width:600px) {
    h2.title{
        font-size: 48px;
        line-height: 40px;
    }

    .ban-content {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .right-img img {
        display: none;
    }
}