{% extends 'content/python/home.html' %}

{% block headseo %}
    {% if content %}
        <meta name="Keywords" content="{{ content.meta_tags }}">
        <meta name="Description" content="{{ content.meta_description }}">
    {% endif %}	
{% endblock headseo %}

{% block title %}
    {{ content.title }}
{% endblock title %}


{% block sidebar %}
    {{ block.super }}
{% endblock %}


{% block content %}
    <div class="">
        {% if content %}
        <h1 class="my-5">{{ content.title }}</h1>

        <div>{{ content.content|safe }}</div>
        {% endif %}
    </div>

{% endblock %}

