{% load static %}

<div class="banner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="ban-content">
					<div class="banner-details">
						<p class="sm-title">Introducing <span>DSMLschool</span></p>
						<h2 class="title">The <span>Ultimate Game Of Data</span></h2>
	
						<div class="d-flex button-sec">
							<a href="/python" class="btn btn-primary">Explore</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="right-img">
					<img src="{% static 'img/banner.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</div>
</div>